html, body {
    background-color: white;
    text-align: center;
    height: 100%
}
body {
    padding-top: 50px;
}
#main, #main>.row {
    height: 100%;
}
#left {
    height: 100%;
    overflow-y: scroll;
}
#right {
    height: 100%;
    padding: 0;
}
#map{
    position:absolute;
    width:100%;
    top:0;
    bottom:0;
}
.ui-button {
    background: #3887BE;
    color: #FFF;
    display: block;
    position: absolute;
    top: 200px;
    left: 50%;
    width: 160px;
    margin: -20px 0 0 -80px;
    z-index: 100;
    text-align: center;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}
.ui-button:hover {
    background: #3074a4;
    color: #fff;
}

/* NAVBAR */
#loginButton, #userProfile{
    padding-right: 10px;
}
#userPicture {
    padding-right: 5px;

}
#userName {
    padding:0;
    margin-top:5px;
    padding-right:40px;
    margin-bottom:5px;

}
/* NAVBAR END */

.row li {
  width: 33.3%;
  float: left;
}

img {
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/* MODAL */
#gameDescription{
    resize: vertical;
}
/* MODAL END */
